:root {
  --primary-color: #a1a6f9;
  --clr-white: #fff;
  --clr-black: #222;
  --transition: all 0.3s linear;
}

/* .title-link a {
  background: transparent;
  border: 2px solid var(--clr-white);
  padding: 0.25rem 1rem;
  text-transform: capitalize;
  letter-spacing: 5px;
  color: var(--clr-white);
  font-size: 1rem;
  cursor: pointer;
  transition: var(--transition);
}
.title-link a:hover {
  background: var(--clr-white);
  color: var(--clr-black);
} */

span {
  border: 2px solid var(--clr-white);
  padding: 0.25rem 1rem;
  letter-spacing: 5px;
  color: var(--clr-white);
  font-size: 1rem;
  cursor: pointer;
  transition: var(--transition);
  text-decoration: none;
}

/* span:hover {
  background: var(--clr-white);
  color: var(--clr-black);
  text-decoration: none;
} */

a:link {
  text-decoration: none;
  color: var(--clr-white);
}

a:visited {
  text-decoration: none;
  color: var(--clr-white);
}

a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

a:active {
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--clr-white);
}

/* .logo {
  width: 200px;
  display: block;
} */
